<IfModule mod_rewrite.c>
# DON'T CHANGE
RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_URI} !\.php$
RewriteRule [^/]$ %{REQUEST_URI}/ [R,L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule . core.php [L]
</IfModule>
