/*Body*/
body, html {
  overflow:hidden;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}

body {
  font-size:12pt;
  border-width:0;
}

/*General*/

a img{ border-width:0px; }
.invisible { display: none; }
.hidden { visibility: hidden; opacity: 0; }
.block { display: block; }
.errormsg { color: red; }
.title { font-weight:bold; }
.align_left { text-align: left !important; }
.float_right { float: right; }

form { 
  text-align:right;
  margin:0px;
  padding:0px;
}

.warning {
  color: red;
  font-size: 16pt;
}

.contentbox, .middlebox {
  border: 1px solid black; 
  padding: 5px;
}

ul {
  list-style-type: none;
  padding:0px;
  margin:0px;
}

.link {
  text-decoration: underline;
  cursor: pointer;
  /*white-space: nowrap;*/
}

.nowrap {
  white-space: nowrap;
}

ul.taglist li { display: inline; }

th { 
  /*text-align: left;*/
}
#wordlist th {
  white-space: nowrap;
}

.event_hidelast, .event_hidefirst {
  /*Fix: show icons on mouseover*/
  padding: 0 1px;
}


/*Header & Menu*/

#header {
  margin: 0px; 
  padding: 0px;
  border: 1px solid black;
  position:absolute; /*++*/
  top:0px;
  left:0px;
  width:100%;
  height: 65px;
}

#menu {
  margin: 5px; 
  padding: 10px; 
  width: 7em;
  float: left;
  border: 1px solid black;
}

#headerpath {
	display: inline;
}

#searchform{
  vertical-align:top;
  display:none;
  margin:0;
}

#searchclick{
  display: inline-block; 
  width: 200px; 
  height: 12pt;
}

#searchtext{
  width:200px;
}

/*Word Table*/

.list_none {
  background-color:inherit;
}

.list_marked {
  background-color:#CCC;
}

.list_hover {
  background-color:#EEE;
}

table#wordlist {
  padding: 0px;
  border-collapse: collapse;
}

table#wordlist td, table#wordlist th {
  border-bottom: 1px solid black;
  padding: 4px 4px;
}

table#wordlist tr.tabhead, table#wordlist td.tabhead {
  font-weight:bold;
}

table#wordlist tr {
  height: 2.2em;
  /*overflow: hidden;*/
}

/*Content*/

#content {
  margin: 0px; 
  padding: 0px 10px; 
  border-width: 0px;
  overflow: auto;
  position: absolute; /*++*/
  top: 66px;
  right: 0;
  left: 0;
  bottom: 0;
}

#shutter {
  position: absolute; /*++*/
  width: 100%;
  height: 100%;
  z-index: 150;
  bottom: 0;
  left: 0;
  background-color: white;
  opacity: 0.6; 
  filter: Alpha(opacity=60);
}

#loadbar {
  height: 100%;
  width: 100%;
}

#spcontent, #statusbar, #contentfooter {
  border: 1px solid black; 
  padding: 5px;
  margin: 0;
  margin-top: 5px;
}

#contentfooter {
  position: fixed;
  bottom: 0;
  left: 0;
}

#contentheader, #toolbar {
  border-width: 0;
  margin: 0;
  padding: 5px;
}

#contentheader {
  height: 30px;
}

/*Specific*/

.satzlabel {
  vertical-align:top;
}

#statusbar, #autosearcher {
  position: absolute;
  background-color:white;
  z-index: 98;
}

#dropdown {
  position: absolute;
  border: 1px solid black; 
  padding: 5px;
  z-index: 99;
  background-color:white;
  /*20120409 - fix : too hight to show*/
  max-height: 95%;
  overflow-y: auto;
}

#popup {
  position: fixed;
  border: 1px solid black; 
  padding: 5px;
  background-color:white;
  z-index: 200;
}

#helper {
  position: fixed;
  border: 1px solid black; 
  padding: 5px;
  background-color:white;
  z-index: 50;
}

.popup_inner {
  overflow: auto; 
  height: 90%; 
  width:100%
}

.input_verb {
  width: 10em;
}

.input_grouplock {
  width: 3em;
}

.markedsearch {
  background-color: #DDD;
}

/*buttons*/
.icon { /*only have background image*/
  display: inline-block;
  background-position: center center;
  background-repeat: no-repeat;  
  width: 13px;
  height: 13px;
  margin: 0 2px;
}


/*querying*/
#lastresult, #result {
  font-weight:bold;
}
