/*Body*/
body, html {
  overflow:auto;
  padding:0px;
  margin:0px;
  width:100%;
}

html {
  height: 100%;
}

body {
  font-size:12pt;
  border-width:0px;
}

/*General*/

a img{ border-width:0px; }
.invisible { display: none; }
.hidden { visibility: hidden; }
.block { display: block; }
.errormsg { color: red; }
span.title { font-weight:bold; }

form { 
  text-align:right;
  margin:0px;
  padding:0px;
}

.warning {
  color: red;
  font-size: 16pt;
}

.contentbox, .middlebox {
  border: 1px solid black; 
  padding: 5px;
}

ul {
  list-style-type: none;
  padding:0px;
  margin:0px;
}

ul.taglist li { display: inline; }

/*Header & Menu*/

#header {
  margin: 0px; 
  padding: 0px;
  border: 1px solid black;
  position:fixed;
  top:0px;
  left:0px;
  width:100%;
  height:70px;
}

#menu {
  margin: 5px; 
  padding: 10px; 
  width: 7em;
  float: left;
  border: 1px solid black;
}

#headerpath {
	display: inline;
}

#searchform{
  display:none;
  margin:0;
	width:30%;
}

#searchtext{
  width: 100%;
}

/*Word Table*/

.list_none {
  background-color:inherit;
}

.list_marked {
  background-color:#CCC;
}

.list_hover {
  background-color:#EEE;
}

table#wordlist {
  padding: 0px;
  border-collapse: collapse;
}

table#wordlist td {
  border-bottom: 1px solid black;
  padding: 4px 14px;
}

table#wordlist tr.tabhead, table#wordlist td.tabhead {
  font-weight:bold;
}

/*Content*/

#content {
  margin: 0px; 
  padding: 0px 10px; 
  border-width: 0px;
  overflow: auto;
}

#spcontent, #statusbar, #contentfooter {
  border: 1px solid black; 
  padding: 5px;
  margin: 0px;
  margin-top: 5px;
}

#contentheader, #toolbar {
  height: 25px;
  border-width: 0px;
  margin: 0px;
  padding: 5px;
}

/*Specific*/

.satzlabel {
  vertical-align:top;
}

#statusbar, #autosearcher {
  position: absolute;
  background-color:white;
  z-index: 98;
}

#dropdown {
  position: absolute;
  border: 1px solid black; 
  padding: 5px;
  z-index: 99;
  background-color:white;
}

#popup {
  position: absolute;
  border: 1px solid black; 
  padding: 5px;
  background-color:white;
  z-index: 100;
}

.popup_inner {
  overflow: auto; 
  height: 90%; 
  width:100%
}

.verbinput {
  width: 10em;
}

.markedsearch {
  background-color: #DDD;
}

/*buttons*/
.droparrow {
  background-color: black;
  width: 12px;
  height: 12px;
  margin: 0px 1px;
  display: inline-block;
}

.columnbutton_0 {
  background-color: black;
  width:13px;
  height:13px;
  display: inline-block;
  margin-left:3px;
}

.blackdrop {
  background-color: black;
  display: inline-block;
  width: 12px;
  height: 12px;
  margin: 0px 1px;
}

.deletebutton, .addbutton, .grab {
  background-color:black;
  display: inline-block;
  width: 13px;
  height: 13px;
  margin: 0px 1px;
}

/*querying*/
#lastresult, #result {
  font-weight:bold;
}

hr {
  width:50px;
}
